@model WebApplication.Utils.PaginatedList<Model.StudentModel>

@{
    ViewData["Title"] = "Student";
    int i = 0;
}

<div class="form-inline">
<form class="form-inline" method="post" action="~/Student/AddNewStudent">
    <div class="form-group mx-sm-3 mb-2">
        <label for="name_student" class="sr-only" >Name of student</label>
        <input type="text" class="form-control" id="name_student" name = "name" placeholder="Name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add student</button>
</form>

<div id="editor" class="form-inline">

    <div class="form-group mx-sm-3 mb-2">
        <label for="new_name" class="sr-only" >Name of student</label>
        <input type="text" class="form-control" id="new_name" name = "new_name" placeholder="Name">
    </div>
    <button type="submit" class="btn btn-primary mb-2" onclick="send_post()">Change student</button>
    <label class="sr-only"  id = "status"></label>
</div>
</div>
<table id="table" class="text-center table table-striped">
        <thead class="thead-light">
        <th scope="col">№</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <button type="button" class="fill-modal btn btn-outline-primary" data-toggle="modal" value="@item.Id" data-target="#addingModal" onclick="toggle(@i, @item.Id)">
                        Edit
                    </button>

                    @*<button type="button" class="info-modal btn btn-outline-info" data-toggle="modal" value="" data-target="#infoModal">
                            Details
                        </button>*@

                    <a href="~/Student/ShowCourseOfStudent/@item.Id" class="fill-modal btn btn-outline-primary">
                        Courses
                    </a>
                    <a href="~/Student/ShowSessionMarksOfStudent/@item.Id" class="fill-modal btn btn-outline-primary">
                        Sesion Marks
                    </a>

                </td>
            </tr>
        }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
<a asp-action="ShowAll"
    asp-route-page="@(Model.PageIndex-1)"
class="btn btn-default @prevDisabled">
      Pervios
      </a>
      <a asp-action="ShowAll"
    asp-route-page="@(Model.PageIndex+1)"
class="btn btn-default @nextDisabled">
      Next
      </a>
<script>
document.getElementById('editor').style.display = "none";
var index = -1;
var _id = -1;

function toggle(n, id) {
    _id = id;
    if (index === n){
            document.getElementById('editor').style.display = "none";
            index = -1;
            return;
        }
    index = n;
    document.getElementById('editor').style.display = "";
    $("#new_name").val(document.getElementById("table").rows[n].cells[1].innerHTML);
    //$("#new_name").attr("placeholder", document.getElementById("table").rows[n].cells[1].innerHTML);
}

function send_post()
{
    var name = $("#new_name").val();
    
    $.post( '/Student/EditStudent?name=' + name + "&id=" + _id, {data: "name"},function( data, status ) {
    		    if(status == 'success')
    		    {
                    console.log("ok");
                    document.getElementById("table").rows[index].cells[1].innerHTML = name;
                    toggle(index, _id);
                    $("#status").val("");
                }else{
                    console.log("bad")
                    $("#status").val("bad name");
                }
            });
}
</script>